/*------共通部分------*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  color: rgb(136, 7, 7);
}

.container {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: blue;
  transition: all 3ms;
}

a:hover {
  color: rebeccapurple;
}

/*------header部分------*/
header {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(253, 228, 5);
  line-height: 50px;
  z-index: 10;
}

.header-title {
  float: left;
}

.header-logo {
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.header-logo:hover {
  color: rgb(255, 0, 0);
  transition: color 3ms;  
}

.header-menu-right {
  float: right;
}

.header-menu-right li {
  float: left;
}

.header-menu-right a{
  color: rgb(10, 10, 36);
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  margin-left: 5px;
  border-radius: 40%;
}

.header-menu-right a:hover {
  color: rgb(255, 0, 0);
  background-color: cornsilk;
  transition: color 3ms;
}

/*------top部分------*/
.top-wrapper {
  margin: 0 auto;
  text-align: center;
  background-position: 50%;
  background-size: cover;
  background-image: url("https://github.com/JZQGO/my_portfolio2021/blob/main/background-img.jpg?raw=true");
}

.top-inner {
  padding: 0;
  padding-top: 180px;
  padding-bottom: 120px;

}

.top-description {
  margin-top: 30px;
  margin-bottom: 20px;
}

.top-description h1 {
  color: rgb(255, 238, 0);
  font-size: 50px;
  line-height: 50px;
  margin: 10px 0 10px 0;
  font-weight: 300;
}

.top-description p {
  color: rgb(255, 238, 0);
  font-size: 20px;
}

/*------人気メニュ------*/
.wrapper {
  background-color: antiquewhite;
}

.slide-wrapper {
  text-align: center;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  padding: 60px 0;
}

.slide-title {
  font-size: 30px;
  margin-bottom: 20px;
}

h2::before,h2::after {
  content: "";
  background-color: black;
  display: inline-block;
  width: 80px;
  height: 2px;
  margin: 10px;
} 

.change-btn-wrapper {
  width: 500px;
  margin: 20px auto;
  font-size: 15px;
}

.change-btn-wrapper:after {
  content: "";
  clear: both;
  display: block;
}

.prev-btn {
  cursor: pointer;
  float: left;
  display: none;
  font-size: 20px;
}

.next-btn {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.menus-img {
  padding: 0;
}

.menu-img {
  display: none;
}

.active {
  display: block;
}

img {
  width: 500px;
  height: 350px;
  border-radius: 5px;
}

.menu-img p {
  font-size: 30px;
  margin: 0;
}

.index-btn-wrapper {
  font-size: 15px;
  margin-top: 20px;
}

.index-btn {
  display: inline-block;
  color: rgb(136, 7, 7);
  background-color: rgb(253, 228, 5);
  width: 40px;
  padding: 6px 0;
  margin: 0 30px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 6px darkcyan;
}

.index-btn:hover {
  color: black;
  background-color: burlywood;
}

.index-btn:active {
  box-shadow: none;
  position: relative;
  top: 6px;
}

/*------作り方------*/
.menu-wrapper {
  height: 800px;
  padding-bottom: 80px;
  background-color: beige;
  text-align: center;
}

.heading {
  padding-top: 50px;
  color: rgb(211, 13, 13);
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 30px;
}

h3::before,h3::after {
  content: "";
  background-color: black;
  display: inline-block;
  width: 80px;
  height: 2px;
  margin: 10px;
} 

.menus {
  display: flex;
}

@media (max-width: 1980px) {
  .menu {
    width: 25%;
  }

  .text-contents p {
  width: 85%;
  }
}

@media (max-width: 1190px) {
  .menu-wrapper {
    height: 100%;
    background-color: beige;
  }

  .menus {
    flex-wrap: wrap;
  }
  
  .menu {
    width: 50%;
  }

  .text-contents p {
    width: 60%;
  }

}

@media (max-width: 650px) {
  .menu-wrapper {
    height: 100%;
    background-color: beige;
  }

  .menus {
    flex-wrap: wrap;
  }

  .menu {
    width: 100%;
  }

  .text-contents p {
    width: 50%;
  }

  .contact-inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact-form, .contact-about {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .header-logo, .top-description p  {
    font-size: 10px;
  }

  .slide-title, h3 {
    font-size: 15px;
  }

  .top-description h1 {
    font-size: 30px;
  }

  .header-logo {
    margin: 0 auto;
  }

  .header-menu-right a {
    padding: 2px;
  }
 
  img {
    width: 100%;
    height: 100%;
  }

  .change-btn-wrapper {
    width: 100%;
  }

  .index-btn {
    flex-wrap: wrap ;
    width: 25%;
    margin: 20px;
  }
}

.menu-pic {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.menu-pic img {
  width: 300px;
  height: 250px;
  margin-top: 10px;
}

button{
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: rgb(251, 255, 0);
}

.text-contents {
  display: none;
  line-height: 30px;
  font-size: 15px;
  color: rgb(29, 124, 124);
}

.text-contents p {
  text-align: left;
  display: inline-block;
}

.text-contents p span {
  color: rgb(136, 7, 7);
  font-style:initial;
  border-bottom: 1px solid rgb(136, 7, 7);;
}

/*------お問い合わせ------*/
.contact-wrapper {
  color: rgb(211, 13, 13);
  margin: 0 auto;
  padding: auto;
}

.contact-inner {
  padding-bottom: 50px;
  display: flex;
}

.contact-form {
  margin: 0 20px;
}

.contact-form input[type="text"], .contact-form textarea {
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  background: rgba(0, 0, 0, 0.08);
  border: none;
  width: 95%;
  color: #202020;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0;
  box-shadow: none;
  transition: all .3s;
  margin-bottom: 10px;
  padding: 15px;
}

textarea {
  height: 200px;
}

.contact-form {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-left: 20px;
}

.btn-contact {
  font-size: 20px;
  box-shadow: inset 0 1px 0 #5867ed;
  margin: 10px 0;
  padding: 5px 15px;
}

.contact-about {
  width: 50%;
  margin: 0 20px;
}

.fas {
  margin-right: 5px;
}

footer {
  background-color: rgb(253, 228, 5);
  text-align: center;
}

.icon {
  padding-top: 10px;
}

.fab {
  vertical-align: top;
  display: inline-block;
  color: rgb(136, 7, 7);
  width: 30px;
  height: 30px;
  font-size: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.copyright p {
  font-size: 15px;
  margin-bottom: 0;
  padding-bottom: 10px;
}
